@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/ap-pixelated.png"); /*Cambiar URL!!!*/
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  filter: blur(0px) /* Se puede poner borrosa ;)*/
 
}
